.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.messages-container {
  border: black 1px solid;
  height: 70%;
  padding: 10px;
  background-color: #343541;
  color: white;
  overflow-y: scroll;
}

.message-line {
  margin-top: 15px;
  margin-bottom: 15px;
}

.date {
  color: #00b500;
}

hr {
  border: 0;
  height: 1px;
  background-color: #939393; /* Change color to your preference */
  width: 100%; /* You can adjust the width */
}
