<div class="configure-container">
    <p-floatLabel class="float-label-container">
        <input class="input" pInputText id="serviceUrl" [(ngModel)]="inputText"/>
        <label for="serviceUrl">Service URL</label>
    </p-floatLabel>
    <p-floatLabel class="float-label-container">
        <input class="input" pInputText id="token" [(ngModel)]="token"/>
        <label for="token">Token</label>
    </p-floatLabel>
    <p-button label="Confirm" [outlined]="true" (click)="submitPulsarClientProvider()"/>
    <p-button label="Route to Socket" [outlined]="true" (click)="routeToSocket()"/>
</div>
