.configure-container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    justify-content: start;
    background-color: var(--p-primary-color);
}

.float-label-container {
    width: 30%
}

.input {
    width: 100%;
}
