<!-- form-example.component.html -->
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="p-fluid form-container">
    <p-toast></p-toast>
    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <input class="input" id="topicName" pInputText formControlName="topicName"/>
            <label for="topicName">Topic Name</label>
        </p-floatLabel>
    </div>

    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <input class="input" id="subscriptionName" pInputText formControlName="subscriptionName"/>
            <label for="subscriptionName">Subscription Name</label>
        </p-floatLabel>
    </div>

    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <p-dropdown
                [options]="subscriptionTypes"
                formControlName="subscriptionType"
                optionLabel="value"
                optionValue="id"
                id="subscriptionType-label"
            />
            <label for="subscriptionType-label">Subscription Type</label>
        </p-floatLabel>
    </div>

    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <p-dropdown
                [options]="schemaTypes"
                formControlName="schemaType"
                optionLabel="value"
                optionValue="id"
                id="schemaType-label"
            />
            <label for="schemaType-label">Schema Type</label>
        </p-floatLabel>
    </div>

    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <p-dropdown
                [options]="initialPositions"
                formControlName="initialPosition"
                optionLabel="value"
                optionValue="id"
                id="initialPosition-label"
            />
            <label for="initialPosition-label">Initial Position</label>
        </p-floatLabel>
    </div>

    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <input class="input" id="outerClassName" pInputText formControlName="outerClassName"/>
            <label for="outerClassName">Outer Class Name</label>
        </p-floatLabel>
    </div>

    <div class="p-field">
        <p-floatLabel class="float-label-container">
            <input class="input" id="mainInnerClassName" pInputText formControlName="mainInnerClassName"/>
            <label for="mainInnerClassName">Main Inner Class Name</label>
        </p-floatLabel>
    </div>

    <p-fileUpload
        mode="basic"
        chooseLabel="Choose Schema Type"
        chooseIcon="pi pi-upload"
        name="demo[]"
        url="https://www.primefaces.org/cdn/api/upload.php"
        maxFileSize="1000000"
        (onSelect)="onFileChange($event)"
        *ngIf="formGroup.get('schemaType')?.value === 'protobuf'"></p-fileUpload>
    <!--(onUpload)="onUpload($event)"-->


    <button pButton type="submit" label="Submit"></button>
</form>



